
@import "walkthrough.less";
@import "logbook.less";

.checker {
    button {
        margin-bottom: 10px;
        width: 100%;
    }
}

.checker_francis {
    float: left;
    height: 100px;
}

.checker_your-hypo {
    font-size: 20px;
    padding: 0 20px;
}

.checker_main {
    margin-left: 105px;
}
