.background {
    position: absolute;
    z-index: -1;
    width: 910px;
    height: 710px;
    margin-left: 15px;
    margin-top: 15px;
}

canvas {
    border: 5px solid #ccc;
    position: static !important;
    margin: 15px;
}

#under-canvas {
    position: absolute;
    pointer-events: none;
}

.stopwatch {
    display: inline-block;
    background-color: white;
    border: 1px solid #eee;
    padding: 5px;
    margin: 5px;
}

.stopwatch span {
    font-family: monospace;
    text-align: center;
    font-weight: bold;
    display: block;
}

.stopwatch a {
    padding-right: 5px;
    text-decoration: none;
}

.playpause, .hill-slider {
    position: absolute;
    top: 30px;
    display: inline-block;
    text-align: center;
    background-color: white;
    border: 1px solid #eee;
    padding: 5px;
    margin: 5px;
}

.playpause a, .hill-slider input {
    padding-right: 5px;
    min-height: 21px;
    display: inline-block;
}

.playpause {
    min-width: 40px;
    left: 30px;
}

.playpause a {
    text-decoration: none;
    width: 100%;
}

.hill-slider {
    left: 80px;
}

.hill-slider input {
    width: 150px;
    margin-left: 5px;
}

.hill-slider span {
    font-family: monospace;
    padding-right: 5px;
    padding-left: 10px;
    vertical-align: top;
}

.graph {
    position: absolute !important;
    top: 10px;
    left: 10px;
    pointer-events: none;
    border: none;
}

.data-log {
    display: inline-block;
    overflow-y: scroll;
    min-width: 100px;
    height: 700px;
    margin: 5px;
    vertical-align: top;
    border: 1px solid #eee;
}

.data-log .stopwatch {
    display: block;
}

.log-book {
    display: block;
    width: 350px;
    vertical-align: top;
    margin: 15px;
}

.log-book-body {
    display: block;
    width: 350px;
    white-space: nowrap;
    max-height: 690px;
    overflow-x: auto;
    overflow-y: hidden;
}

.log-book-header {
    display: inline-block;
    text-align: center;
    width: 100%;
    border: 1px solid #aaa;
    padding: 5px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.log-book-column {
    display: inline-block;
    vertical-align: top;
}

.log-book-column:first-child .log-book-heading,
.log-book-column:first-child .log-book-avg,
.log-book-column:first-child .log-book-datum {
    border-left: 1px solid #ccc;
}

.log-book-avg,
.log-book-heading, .log-book-datum {
    display: block;
    width: 175px;
    border: 1px solid #ccc;
    border-left: none;
    border-top: none;
    padding: 5px;
}

.log-book-avg {
    text-align: center;
    font-weight: bold;
}

.log-book-heading {
    text-align: center;
}

.log-book-datum {
    text-align: right;
}

#navvy-nav {
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin: 1px 10px;
    font-size: 12px;
    z-index: 1000;
}

#navvy-nav li {
    list-style-type: none;
    display: inline;
}

#navvy-nav li + li::before {
    color: #ccc;
    content: " | ";
}

#navvy-nav a {
    color: #777;
    font-weight: 200;
    text-decoration: none;
}

.side-bar {
    display: inline-block;
    vertical-align: top;
    max-height: 700px;
    max-width: 350px;
}

.drop-data-checker {
    width: 350px;
    margin: 15px;
    display: block;
    text-align: center;
}

.hills-data-checker {
    width: 350px;
    margin: 15px;
    display: block;
    text-align: center;
}

.hills-data-checker .btn {
    white-space: normal;
}

.newton1-data-checker {
    width: 350px;
    margin: 15px;
    display: block;
    text-align: center;
}

.bacon-badge {
    text-align: center;
}

.bacon-badge-container {
    text-align: center;
}
