canvas {
    border: 5px solid #ccc;
    position: static !important;
    margin: 15px;
}

.stopwatch {
    display: inline-block;
    background-color: white;
    border: 1px solid #eee;
    padding: 5px;
    margin: 5px;
}

.stopwatch span {
    font-family: monospace;
    text-align: center;
    font-weight: bold;
    display: block;
}

.stopwatch a {
    padding-right: 5px;
    text-decoration: none;
}

.playpause {
    display: inline-block;
    background-color: white;
    border: 1px solid #eee;
    padding: 5px;
    margin: 5px;
}

.playpause a {
    padding-right: 5px;
    text-decoration: none;
}
.graph {
    position: absolute !important;
    top: 10px;
    left: 10px;
    pointer-events: none;
    border: none;
}

.data-log {
    display: inline-block;
    overflow-y: scroll;
    min-width: 100px;
    height: 700px;
    margin: 5px;
    vertical-align: top;
    border: 1px solid #eee;
}

.data-log .stopwatch {
    display: block;
}

.log-book {
    display: inline-block;
    vertical-align: top;
    margin: 15px;
    height: 670px;
}

.log-book-body {
    display: block;
    width: 350px;
    white-space: nowrap;
    overflow: auto;
}

.log-book-header {
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: #ccc;
}

.log-book-column {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    border: 1px solid #ccc;
}

.log-book-heading, .log-book-datum {
    display: block;
    width: 78px;
}

.log-book-heading {
    text-align: center;
}

.log-book-datum {
    text-align: right;
}
