canvas {
    border: 5px solid #ccc;
    position: static !important;
    margin: 15px;
}

.stopwatch {
    display: inline-block;
    background-color: white;
    border: 1px solid #eee;
    padding: 5px;
    margin: 5px;
}

.stopwatch span {
    font-family: monospace;
    text-align: center;
    font-weight: bold;
    display: block;
}

.stopwatch a {
    padding-right: 5px;
    text-decoration: none;
}

.playpause {
    position: absolute;
    top: 30px;
    left: 30px;
    display: inline-block;
    background-color: white;
    border: 1px solid #eee;
    padding: 5px;
    margin: 5px;
}

.playpause a {
    padding-right: 5px;
    display: inline-block;
    text-decoration: none;
}
.graph {
    position: absolute !important;
    top: 10px;
    left: 10px;
    pointer-events: none;
    border: none;
}

.data-log {
    display: inline-block;
    overflow-y: scroll;
    min-width: 100px;
    height: 700px;
    margin: 5px;
    vertical-align: top;
    border: 1px solid #eee;
}

.data-log .stopwatch {
    display: block;
}

.log-book {
    display: inline-block;
    vertical-align: top;
    margin: 15px;
}

.log-book-body {
    display: block;
    width: 350px;
    white-space: nowrap;
    max-height: 690px;
}

.log-book-header {
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: #ccc;
}

.log-book-column {
    display: inline-block;
    vertical-align: top;
    width: 80px;
}

.log-book-heading, .log-book-datum {
    display: block;
    width: 78px;
    border: 1px solid #ccc;
    border-top: none;
}

.log-book-heading {
    text-align: center;
}

.log-book-datum {
    text-align: right;
}

#navvy-nav {
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin: 1px 10px;
    font-size: 12px;
}

#navvy-nav li {
    list-style-type: none;
    display: inline;
}

#navvy-nav li + li::before {
    color: #ccc;
    content: " | ";
}

#navvy-nav a {
    color: #777;
    font-weight: 200;
    text-decoration: none;
}
